@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 17px;
        font-family: 'Inter', sans-serif;
        -webkit-tap-highlight-color: transparent;
    }
}

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }
}